# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
# Your code here

import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

In [3]:
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [4]:
df.columns = (
    df.columns
    .str.lower()
    .str.replace(r'\bst\b', 'state', regex=True)
    .str.replace(' ', '_')
    )
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [6]:
# Your code here
df['gender'] = df['gender'].replace({
    'Female': 'F',
    'Femal': 'F',
    'female': 'F',
    'F': 'F',
    'Male': 'M',
    'M': 'M',
    'male': 'M'
})

In [7]:
df['state'] = df['state'].replace({
    'AZ': 'Arizona',
    'Cali': 'California',
    'WA': 'Washington'
})

In [8]:
df['state'] = df['state'].replace({
    'AZ': 'Arizona',
    'Cali': 'California',
    'WA': 'Washington'
})

In [9]:
df['education'] = df['education'].replace({'Bachelors': 'Bachelor'})

In [10]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '', regex=False)

In [11]:
df['vehicle_class'] = df['vehicle_class'].replace({
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
})

In [12]:
result = df[df['vehicle_class'] == 'Luxury']
result

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
31,UL64533,Nevada,NaN,High School or Below,1897545.61,65999.0,237.0,1/0/00,Corporate Auto,Luxury,615.927769
43,SR38658,Arizona,NaN,High School or Below,1223187.97,43244.0,103.0,1/0/00,Personal Auto,Luxury,494.400000
73,HB20453,Oregon,NaN,Bachelor,678127.02,0.0,104.0,1/1/00,Personal Auto,Luxury,982.399613
79,OM82309,California,NaN,Bachelor,5816655.35,61321.0,186.0,1/1/00,Personal Auto,Luxury,427.631210
121,CW82151,California,NaN,Bachelor,890273.76,46833.0,112.0,1/0/00,Personal Auto,Luxury,64.109663
...,...,...,...,...,...,...,...,...,...,...,...
992,TI92884,Arizona,M,Bachelor,1262283.27,61844.0,106.0,1/0/00,Personal Auto,Luxury,508.800000
1008,AM97901,Nevada,F,College,2298615.39,84831.0,192.0,1/0/00,Special Auto,Luxury,1336.931716
1011,CH85057,Oregon,F,Doctor,1146399.10,45354.0,285.0,1/0/00,Personal Auto,Luxury,540.141566
1028,JX76668,Washington,F,High School or Below,1131424.39,62935.0,141.0,1/0/00,Personal Auto,Luxury,232.242326
1058,UX92071,Oregon,M,High School or Below,674311.93,0.0,199.0,1/0/00,Personal Auto,Luxury,955.200000

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [20]:
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')
df['customer_lifetime_value']

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: float64

In [22]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(
    lambda x: int(str(x).split('/')[1]) if pd.notnull(x) and '/' in str(x) else pd.to_numeric(x, errors='coerce')
)
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype('Int64')
df['number_of_open_complaints'].unique()

<IntegerArray>
[0, 2, 1, 3, 5, 4, <NA>]
Length: 7, dtype: Int64

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [23]:
# Your code here
# Identify columns with null values and count them
null_counts = df.isnull().sum()
print("Null values per column:\n", null_counts)

Null values per column:
 customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [25]:
# Fill categorical columns with mode
categorical_cols = df.select_dtypes(include='object').columns
for col in categorical_cols:
    mode = df[col].mode(dropna=True)
    if not mode.empty:
        df[col] = df[col].fillna(mode[0])

In [26]:
# Fill numerical columns with median
numerical_cols = df.select_dtypes(include=['float64', 'Int64']).columns
for col in numerical_cols:
    median = df[col].median()
    df[col] = df[col].fillna(median)

In [27]:
# Drop rows where all values are null
df = df.dropna(how='all')

In [28]:
# Verify nulls are handled
print("Null values after cleaning:\n", df.isnull().sum())

Null values after cleaning:
 customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [29]:
# Convert all numeric columns to integers (where possible)
for col in numerical_cols:
    df[col] = df[col].astype('int64')

df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,588174,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,697953,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,1288743,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,764586,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,536307,36357,68,0,Personal Auto,Four-Door Car,17

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [31]:
# Your code here
duplicates = df['customer'].duplicated().sum()
print(duplicates)

2937

In [32]:
# Drop duplicates based on the 'customer' column, keeping the first occurrence
df = df.drop_duplicates(subset='customer', keep='first').reset_index(drop=True)

In [33]:
# Verify that duplicates have been removed
duplicates_after = df['customer'].duplicated().sum()
print(f"Number of duplicates after cleaning: {duplicates_after}")

Number of duplicates after cleaning: 0

In [34]:
# Save the cleaned dataset to a new CSV file
df.to_csv('cleaned_customer_data.csv', index=False)

In [ ]:
# Documentation:
# I chose to drop duplicates based on the 'customer' column to ensure each customer appears only once in the dataset to assess demographics.

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here
import pandas as pd

def load_data(url):
    return pd.read_csv(url)

def clean_column_names(df):
    df.columns = (
        df.columns
        .str.lower()
        .str.replace(r'\bst\b', 'state', regex=True)
        .str.replace(' ', '_')
    )
    return df

def clean_gender(df):
    df['gender'] = df['gender'].replace({
        'Female': 'F',
        'Femal': 'F',
        'female': 'F',
        'F': 'F',
        'Male': 'M',
        'M': 'M',
        'male': 'M'
    })
    return df

def clean_state(df):
    df['state'] = df['state'].replace({
        'AZ': 'Arizona',
        'Cali': 'California',
        'WA': 'Washington'
    })
    return df

def clean_education(df):
    df['education'] = df['education'].replace({'Bachelors': 'Bachelor'})
    return df

def clean_customer_lifetime_value(df):
    df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(str).str.replace('%', '', regex=False)
    df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')
    return df

def clean_vehicle_class(df):
    df['vehicle_class'] = df['vehicle_class'].replace({
        'Sports Car': 'Luxury',
        'Luxury SUV': 'Luxury',
        'Luxury Car': 'Luxury'
    })
    return df

def clean_number_of_open_complaints(df):
    def extract_complaints(x):
        if pd.notnull(x) and '/' in str(x):
            parts = str(x).split('/')
            if len(parts) > 1 and parts[1].isdigit():
                return int(parts[1])
        try:
            return int(x)
        except:
            return pd.NA
    df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(extract_complaints)
    df['number_of_open_complaints'] = df['number_of_open_complaints'].astype('Int64')
    return df

def handle_nulls(df):
    # Fill categorical columns with mode
    categorical_cols = df.select_dtypes(include='object').columns
    for col in categorical_cols:
        mode = df[col].mode(dropna=True)
        if not mode.empty:
            df[col] = df[col].fillna(mode[0])
    # Fill numerical columns with median
    numerical_cols = df.select_dtypes(include=['float64', 'Int64', 'int64']).columns
    for col in numerical_cols:
        median = df[col].median()
        df[col] = df[col].fillna(median)
    # Drop rows where all values are null
    df = df.dropna(how='all')
    return df

def convert_numeric_to_int(df):
    numerical_cols = df.select_dtypes(include=['float64', 'Int64']).columns
    for col in numerical_cols:
        df[col] = df[col].astype('int64')
    return df

def drop_duplicates(df):
    df = df.drop_duplicates(subset='customer', keep='first').reset_index(drop=True)
    return df

def main_cleaning_pipeline(url):
    df = load_data(url)
    df = clean_column_names(df)
    df = clean_gender(df)
    df = clean_state(df)
    df = clean_education(df)
    df = clean_customer_lifetime_value(df)
    df = clean_vehicle_class(df)
    df = clean_number_of_open_complaints(df)
    df = handle_nulls(df)
    df = convert_numeric_to_int(df)
    df = drop_duplicates(df)
    return df

# Example usage:
# cleaned_df = main_cleaning_pipeline('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
# cleaned_df.to_csv('cleaned_customer_data.csv', index=False)

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here
# Review statistics for total_claim_amount and customer_lifetime_value
print(df[['total_claim_amount', 'customer_lifetime_value']].describe())

# Calculate percentiles
claim_75 = df['total_claim_amount'].quantile(0.75)
clv_25 = df['customer_lifetime_value'].quantile(0.25)

# Filter customers with high claim amount and low lifetime value
high_claim_low_clv = df[
    (df['total_claim_amount'] > claim_75) &
    (df['customer_lifetime_value'] < clv_25)
]

# Show summary statistics for these customers
print(high_claim_low_clv[['total_claim_amount', 'customer_lifetime_value']].describe())

       total_claim_amount  customer_lifetime_value
count         1071.000000             1.071000e+03
mean           404.528478             7.931141e+05
std            293.041850             6.426676e+05
min              0.000000             2.004350e+05
25%            201.500000             4.048530e+05
50%            354.000000             5.881740e+05
75%            532.000000             8.945205e+05
max           2893.000000             5.816655e+06
       total_claim_amount  customer_lifetime_value
count           40.000000                40.000000
mean           723.300000            341577.425000
std            149.216449             56921.466178
min            537.000000            228759.000000
25%            632.750000            304220.500000
50%            685.000000            365995.000000
75%            799.000000            387364.000000
max           1185.000000            402381.000000